/* Text */
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
/* TopNav */
.topnav{
    background-color: blue;
    overflow: hidden;
    box-shadow: 0px 2px 5px sandybrown;
    border-radius: 25px;
    transition: 0s background-color;
}
.topnav a{
    float: left;
    color: sandybrown;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

    /* Transition */
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in
}
.topnav a:hover{
    background-color: sandybrown;
    color: black;
    /* transition: background-color .2s ease-in; */
}
